* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3d0b60;
}

.slider-box {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider-box ul {
    display: flex;
    width: 300%; /* Ancho total del carrusel */
    animation: slide 800s infinite linear;
}

.slider-box li {
    width: 33.33%; /* Ajusta esto según el número de imágenes */
    list-style: none;
}

.texto {
    position: absolute;
    text-align: center;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: blanchedalmond;
}

.texto h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.slider-box img {
    width: 100%;
    height: auto;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(-100%);
    }
    66.66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0); /* Vuelve a la primera imagen */
    }
}